<!-- <phpunit bootstrap="tests/bootstrap.php"> -->
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Unit">
            <!-- <directory suffix="Test.php">tests/Unit</directory> -->
            <directory suffix="Test.php">src</directory>
        </testsuite>
    </testsuites>
</phpunit>