{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <h3>Nova conta a pagar</h3>
    <a href="#" class="btn btn-primary">Novo conta a receber</a>
    {% set action = route('bill-pays.store') %}
    {% set submitIcon = 'floppy-disk' %}
    {% include "bill-pays/_form.html.twig" %}
</div>
{% endblock %}
