{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <h3>Editar Conta a pagar</h3>
    <a href="#" class="btn btn-primary">Nova conta a pagar</a>
    {% set action = route('bill-pays.update', {'id': bill.id}) %}
    {% set submitIcon = 'pencil' %}
    {% include "bill-pays/_form.html.twig" %}
</div>
{% endblock %}
