{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <h3>{{ 'views.category_cost.new.title'|trans }}</h3>
    <a href="{{ route('category-costs.list') }}" class="btn btn-primary">
        {{ 'views.buttons.back'|trans }}
    </a>
    {% set action = route('category-costs.store') %}
    {% set submitIcon = 'floppy-disk' %}
    {% include "category-costs/_form.html.twig" %}
</div>
{% endblock %}
