{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <h3>Nova Categoria de Custo</h3>
    <a href="#" class="btn btn-primary">Nova Categoria</a>
    {% set action = route('category-costs.store') %}
    {% set submitIcon = 'floppy-disk' %}
    {% include "category-costs/_form.html.twig" %}
</div>
{% endblock %}
