{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <h3>
        {{ 'views.category_cost.edit.title'|trans }}
    </h3>
    <a href="#" class="btn btn-primary">
        {{ 'views.category_cost.button.new'|trans }}
    </a>
    {% set action = route('category-costs.update', {'id': category.id}) %}
    {% set submitIcon = 'pencil' %}
    {% include "category-costs/_form.html.twig" %}
</div>
{% endblock %}
