{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <h3>Nova Categoria de Custo</h3>
    <a href="#" class="btn btn-primary">Novo Usuário</a>
    {% set action = route('users.store') %}
    {% set submitIcon = 'floppy-disk' %}
    {% include "users/_form.html.twig" %}
</div>
{% endblock %}
